*{
  box-sizing: border-box;
}

html {
  font-size: map-get($font-size , html )
}

body {
  font-family: map-get($font-family, body);
  font-size: map-get($font-size, body)#{rem};
}
h1, h2, h3 {
  text-align: center;
  color: map-get($theme-colors, gold);
  font-family: map-get($font-family, titles);
}
a {
  font-family: map-get($font-family, body);
  color: map-get($theme-colors, gold);
  text-decoration: none;

  &:hover {
    color: map-get($theme-colors, brown);
    font-weight: map-get($font-weight, bold);
  }
}
h1,h2 {
  font-size: map-get($font-size, tittle-1)#{rem};
}
h3 {
  font-size: map-get($font-size, tittle-2)#{rem};
}
p{
  line-height: 2.2rem;
}

.responsive-img {
  img {
    width: 100%;
  }
}