.a-element {
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
.main-home {
  background: map-get($gradient-color, darkest), url(../images/imgs/home-bg.jpg) no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding-bottom: 10%;
  position: relative;
  z-index: 1;

  section {
    position: relative;
    z-index: 2;
  }

  figure {
    position: relative;
    z-index: 2;
  }

  img {
    padding-top: 10%;
  }
}

.anicama-main {
  p{
    padding: 5% 30% 5% 0;
    color: map-get($theme-colors, white);
  }
  span {
    color: map-get($theme-colors, gold);
  }

}