.nosotros-main {
  .nosotros {
    padding: 10% 0;
  }

  p{
    text-align: center;
    padding: 5% 0 10% 0;
  }

  &__banner-top{
    background: url(../images/imgs/header-nosotros.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
  
    img {
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
    @include breakpoints(md){
      max-height: 250px;
    } 
    @include breakpoints(sm){
      max-height: 150px;

      img {
       display: none;
      }
    }
  }
}

.nosotros-overview{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  h3{
    padding: 10%;
    color: map-get($theme-colors, grey);
  }

  p{
    padding: 5%;
  }

  figure {
    max-width: 388px;
    margin: 0 auto;
  }
  
  img{
    width: 100%;
  }

  @include breakpoints(md) {
    h3{
      font-size: map-get($font-size, tittle-3)#rem;
    } 
  }
}
.brand-attributes {
  padding: 5% 0 10% 0;
  text-align: center;

  &__item {
    padding: 25px;
  }

  figure {
    height: 150px;
  }

  p {
    padding: 15% 0;
  }
}