/*
*FONTS
*/

//SIZE
$font-size: (
  html: 62.5%,
  body: 1.6,
  tittle-1: 4.8,
  tittle-2: 3.6,
  tittle-3: 3,
);

//WEIGHT
$font-weight: (
  bold: 700,
  regular: 400,
);

// FAMILY
$font-family: (
  body: 'Lato', 
  titles: 'Philosopher',
);

/*
* COLORS
*/

$theme-colors: (
  black: #0C0C0C,
  gold: #D19E5C,
  dark-grey: #1C1B16,
  light-grey: #EAEAEA,
  grey: #7F7F7F,
  white: #FFFFFF,
  brown: #704F36,
);

%focused {
  content: '';
  width: 50px;
  height: 2px;
  position: absolute;
  background-color: #d19e5c;
  top: 78px;
  margin: 0 0 0 -50px;
};

$gradient-color: (
  darkest: linear-gradient(90deg, rgba(12,12,12,1) 0%, rgba(12,12,12,0.9) 100%),
);

/*
*EXTENDS
*/
/*
*BREAKPOINTS
*/
$breakpoints: (
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
    xs: 480px,
);