/*
*FONTS
*/
/*
* COLORS
*/
/*
*EXTENDS
*/
/*
*BREAKPOINTS
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  font-size: 1.6rem;
}

h1, h2, h3 {
  text-align: center;
  color: #D19E5C;
  font-family: "Philosopher";
}

a {
  font-family: "Lato";
  color: #D19E5C;
  text-decoration: none;
}

a:hover {
  color: #704F36;
  font-weight: 700;
}

h1, h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

p {
  line-height: 2.2rem;
}

.responsive-img img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flx-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx-direction-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flx-direction-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flx-direction-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flx-direction-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #0C0C0C;
  border-bottom: 2px solid #704F36;
}

header .nav {
  padding: 15px 0;
}

header .nav .brand-logo {
  width: 50%;
}

header .nav li {
  min-width: 65px;
  text-align: center;
  display: inline-block;
  margin: 0 20px 0 0;
}

header .nav a:hover:after {
  content: ' ';
  width: 60px;
  background-color: #d39e00;
  height: 2px;
  position: absolute;
  bottom: -2px;
  display: block;
}

@media (max-width: 576px) {
  header .brand-logo {
    padding: 0 0 0 20px;
  }
  header .hamburger-menu img {
    padding: 0 20px 0 0;
  }
}

.active {
  font-weight: 700;
}

.footer {
  background-color: #0C0C0C;
  padding: 15px 0;
  color: #D19E5C;
}

.footer__content {
  padding: 0 10%;
}

.footer p {
  padding: 15px 0;
}

.footer li {
  padding: 5px 15px 0 15px;
  display: inline-block;
}

@media (max-width: 992px) {
  .footer__content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .footer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-home {
  background: -webkit-gradient(linear, left top, right top, from(#0c0c0c), to(rgba(12, 12, 12, 0.9))), url(../images/imgs/home-bg.jpg) no-repeat;
  background: linear-gradient(90deg, #0c0c0c 0%, rgba(12, 12, 12, 0.9) 100%), url(../images/imgs/home-bg.jpg) no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding-bottom: 8%;
  position: relative;
  z-index: 1;
}

.main-home h1 {
  text-align: left;
}

.main-home section {
  position: relative;
  z-index: 2;
}

.main-home figure {
  position: relative;
  z-index: 2;
  padding-top: 10%;
  padding-right: 20%;
}

.main-home .anicama-main p {
  padding: 5% 30% 5% 0;
  color: #FFFFFF;
}

.main-home .anicama-main span {
  color: #D19E5C;
}

.main-home .a-element img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding-top: 0;
  max-height: 90rem;
}

@media (max-width: 992px) {
  .main-home h1 {
    padding-right: 10%;
  }
  .main-home .a-element img {
    max-height: 65rem;
    padding-top: 8%;
  }
}

@media (max-width: 768px) {
  .main-home {
    padding-bottom: 0;
  }
  .main-home figure {
    padding-right: 0;
  }
  .main-home .anicama-main p {
    padding: 20px 20px 20px 0;
  }
  .main-home .a-element {
    text-align: end;
  }
  .main-home .a-element img {
    max-height: 50rem;
    position: relative;
  }
}

@media (max-width: 576px) {
  .main-home {
    padding-bottom: 0;
  }
  .main-home .anicama-main p {
    padding: 20px 20px 20px 0;
  }
  .main-home .a-element {
    text-align: end;
  }
  .main-home .a-element img {
    max-height: 40rem;
    position: relative;
  }
}

.nosotros-main .nosotros {
  padding: 10% 0;
}

.nosotros-main p {
  text-align: center;
  padding: 5% 0 10% 0;
}

.nosotros-main__banner-top {
  background: url(../images/imgs/header-nosotros.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.nosotros-main__banner-top img {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

@media (max-width: 768px) {
  .nosotros-main__banner-top {
    max-height: 250px;
  }
}

@media (max-width: 576px) {
  .nosotros-main__banner-top {
    max-height: 150px;
  }
  .nosotros-main__banner-top img {
    display: none;
  }
}

.nosotros-overview {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

.nosotros-overview h3 {
  padding: 10%;
  color: #7F7F7F;
}

.nosotros-overview p {
  padding: 5%;
}

.nosotros-overview figure {
  max-width: 388px;
  margin: 0 auto;
}

.nosotros-overview img {
  width: 100%;
}

@media (max-width: 768px) {
  .nosotros-overview h3 {
    font-size: 3 #rem;
  }
}

.brand-attributes {
  padding: 5% 0 10% 0;
  text-align: center;
}

.brand-attributes__item {
  padding: 25px;
}

.brand-attributes figure {
  height: 150px;
}

.brand-attributes p {
  padding: 15% 0;
}
/*# sourceMappingURL=main.css.map */